* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

.mainWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
}

.leftSide {
  max-width: 15vw;
  width: 100%;
  height: 100vh;

  :first-child {
    margin-left: auto;
  }
}

.leftSideActive {
  background: #b23386;

  div {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
}

.leftSideInactive {
  background: #c9c5ca;

  div {
    display: none;
  }
}

.rightSide {
  width: 100%;
  height: 100vh;

  :last-child {
    margin-right: auto;
  }
}

.rightSideActive {
  background: #b23386;

  div {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
}

.rightSideInactive {
  background: #c9c5ca;

  div {
    display: none;
  }
}

.titleHeader {
  text-align: left;

  h1 {
    font-size: 45px;
    font-weight: 400;
    line-height: 52px;
    margin-bottom: 24px;
  }

  a {
    display: center;
  }

  span {
    color: #b23386;
    font-weight: 600;
  }
}

.switchStyling {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.formWrapper {
  display: flex;
  flex-direction: column;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 180px;
  padding-block: 10px;

  // for some reason this doesn not work on my side
  // > * {
  //   width: 100%;
  // }

  input {
    width: 360px;
  }
}

.policyWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
}

.buttonWrapper {
  margin-top: 50px;
}
